@import url('https://fonts.googleapis.com/css?family=Poppins:500');
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background: #00ff00;
  font-family: 'Poppins', sans-serif;
}

#clock {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  font-weight: bolder;
  font-size: 3em;
  text-shadow: 6px 2px 0 rgba(0, 0, 0, .4);
  span {
    margin: 0 10px;
  }
}

#wrap {
  height: 100%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
